# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.env/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Data (IMPORTANT)
# -----------------------------
data/raw/
data/processed/

# -----------------------------
# Model Artifacts
# -----------------------------
models/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/
